.x-mask.splashscreen{
	background-color: white;
	opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
	font-size: 16px;
	font-weight: bold;
	padding: 30px 5px 5px 5px;
	border: none;
	/** this is Sass code.
	background: {
	  color: transparent;
	  position: top center;
	};
	*/
	background-color: transparent; 
	background-position: top center;
	/** can change icon width size at here
	width = 400px;
	*/
}

.x-message-box .x-window-boddy .x-box-inner {
	min-height: 110px !important;
}

.x-splash-icon {
	background-image: url('../resources/images/app/welcomepagelogo.jpg') !important;
	margin-top: -30px;
	height: 70px;
}