@CHARSET "UTF-8";
/* For clear default style*/
.x-panel-body-default{
	border: none;
	/*border-width: 1px;   Use for test */
	/* 'border: none;' Don't support IE 6,7, which can use 'border:0;', but the performance is bad  */
}


/* Navigation */
.pw-navi-list {
	background: #555555;
	border-right: 2px solid #2e2e2e;
	width: 200px;
	min-height: 800px;
}

.pw-navi-list .pw-navi-item{
	height: 80px;
	line-height: 80px;
	cursor: pointer;
	color: #FAFAD2;
	font-size: 20px;
	padding-left: 80px;
}

.pw-navi-list .pw-navi-item:hover{
	background-color: #DCDCDC;
	padding-left: 90px;
	color: #0b0b1a;
	font-weight:bold;
}

.pw-navi-list .pw-navi-item-selected .pw-navi-item{
	background-color: #DCDCDC !important;
	padding-left: 90px !important;
	color: #0b0b1a;
	font-weight: bold;
}

.pw-navi-sep {
	
}

.pw-navi-group {
	
}

/* Footer */
.pw-footer {
	height: 70px;
	background: #121212;
	border-top: 5px solid white;
}

.pw-footer-title{
	line-height: 60px;
	text-align: right;
	font-size: 14px;
	color: #FAFAD2;
	padding-right: 40px;
}

/* Banner */
.pw-banner{
	height: 120px !important;
	background: url('../resources/images/app/banner.jpg') repeat-x;
}

.pw-banner .pw-title{
	padding: 10px;
	font-size: 50px;
	font-weight: bold;
	color: red;
}

.pw-banner .pw-title span{
	color: #FAFAD2;
}

/* Header(tool bar) */
.pw-header{
	border-color: #2e2e2e;
	background: url('../resources/images/app/toolbarbg.jpg') repeat-x;
	color: #FAFAD2;
	font-weight: bold;
}

.pw-header .fa-user{
	padding:0 8px;
}

.pw-header-logoutbutton{
	width:100px;
	padding-right: 10px;
	background: #808080;
	border-radius: 10px;
}

.pw-header-logoutbutton .x-btn-inner-default-toolbar-small{
	color: #FAFAD2;
}

.pw-header-logoutbutton .buttonIcon{
	padding-top: 4px;
}

/* About Me */
.pw-aboutme{
	min-width: 1100px;
}
/* About Me left panel */
.pw-aboutme-info{
	vertical-align: top;
	padding-right: 14px;
	border-bottom: 0;
}

.pw-weibo{
	vertical-align:top;
	margin-bottom: 50px;
	border-bottom: 0;
}

.pw-aboutme-info .firstname{
	font-size: 30px;
	padding-top: 50px; /* need to change in the future(if has some useful buttons) */
	margin: 0;
}

.pw-aboutme-info .lastname{
	font-size: 46px;
	font-weight: bold;
	margin: -8px 0 0;
}

.pw-aboutme-info .position{
	color: #ff732f;
	font-size: 10px;
	font-weight: bold;
	padding-bottom: 40px;
	border-bottom-style: double;
	border-color:#7b9bfb;
}

.pw-aboutme-info h2{
	padding: 20px 0 10px;
}

.pw-aboutme .content{
	line-height: 22px;
}

.pw-aboutme-info .content a, .bowen-content a{
	color: #7db8f9;
}

.pw-bowen {
	width: 184px;
	font-style: italic;
	color: white;
}

.pw-bowen .top{
	height: 16px;
	margin:0;
	background: url('../resources/images/app/bowenbg.gif') no-repeat;
}
.pw-bowen .bowen-content{
	background: url('../resources/images/app/bowenbg.gif') repeat-y -184px 0;
	margin:0;
	padding:0 4px;
}

.pw-bowen .content a{
	text-decoration: none;
	color: #a0d2f8;
}

.pw-bowen .time{
	background: url('../resources/images/app/bowenbg.gif') repeat-y -184px 0;
	padding: 8px 4px;
	margin:0;
}
.pw-bowen .bottom{
	height: 16px;
	margin:0;
	padding-bottom: 30px;
	background: url('../resources/images/app/bowenbg.gif') no-repeat -368px 0;
}

/* About Me second panel */

.pw-aboutme .pw-idphoto{
	margin: 50px 0;
	border-radius: 40px;
	border: 1px solid #6eb9cf;

}

.pw-aboutme .pw-readingpanel{
	padding-top: 20px;
}

/* About Me third panel */
.pw-aboutme .pw-title{
	width: 600px;
	text-align:center;
	font-style: italic;
	padding-top: 50px;
}
/* Doing */
.pw-aboutme .pw-thirdpanel{
	min-width: 650px;
	padding-left:50px;
	text-align: center;
	clear: both;
}
.pw-aboutme .pw-eventspanel{
	float: left;
}
.pw-aboutme .pw-myblogspanel{
	float: right;
}
.pw-aboutme .pw-myblogspanel time{
	display: block;
	float: left;
	height:66px; /* float,高度由内容撑开，设置高度解决bug*/
	width: 52px;	
	padding-top: 10px;
	color: #b4dbe7;
	font-size: 10px;
	margin-bottom: 20px;
	background: url('../resources/images/app/timebg.png') no-repeat left top;
}

.pw-myblogspanel .blog-info{
	clear: both; /* clear float of time and content */
	display: block;
	height: 76px; /* 通过给高度清浮动 */
	padding-bottom: 14px;
	border-bottom: 1px solid #7b9bfb;
}

.pw-aboutme .pw-myblogspanel span{
	color: white;
	font-size: 26px;
	font-weight: bold;
	display: block;
	text-align: center;
}

.pw-aboutme .pw-myblogspanel h3{
	float: right;
	width: 200px;
	color: white;
}

.pw-aboutme .pw-myblogspanel a{
	padding-left: 20px;
	text-decoration: none;
	color: #b4dbe7;
}
